h1{
  display:block;
}
#lesson117 {
  display: block;
  font-size: 32px;
  width: 300px;
  height: 300px;
  border: 5px solid red;
  margin: 30px;
  outline: 5px solid green;
  outline-offset: 30px;
}
#lesson118 {
  background-color: black;
  width: 50%;
  color: rgba(0 0 0 0);
  font-size: 64px;
  text-shadow: 2px 2px 5px red;
}
#lesson119 {
  display: inline-block;
  border: 5px solid blue;
  min-width: 450px;
  max-width: 500px;
}
#lesson121 {
  width: 300px;
  height: 300px;
  border: 10px solid black;
  position: relative;
  top: 30px;
  left: 30px;
  margin-bottom: 50px;
}
#lesson122 {
  width: 300px;
  height: 300px;
  border: 10px solid navy;
  position: relative;
}
#lesson122-2 {
  position: absolute;
  right: 0;
  width: 50%;
  height: 50%;
  background: navy;
}
